/* #root {
    font-family: "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
} */
body {
    /* height: 100%; */
    font-family: "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#app,
.n-config-provider {
    height: 100%;
    max-height: 100%;
    width: 100%;
    margin: 0;
    /* max-width: 1200px; */

}

.n-config-provider {
    /* height: 100vh; */
    /* width: 100vw; */
    /* max-width: 100vw; */
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    /* max-width: 1200px; */
    margin: 0;
    padding: 0;
}

.webContainer {
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.landingContainer {
    height: 420px;
    padding: 100px 3%;
}

.jdLandingContainer {
    height: 420px;
    padding: 0 0%;
    max-width: 900px;
    margin: 0;
    /* -webkit-align-self: flex-start; */
    /* -ms-flex-item-align: start; */
    /* align-self: flex-start; */
    /* line-height: 1.05; */
    /* text-align: left; */
    /* margin-bottom: 48px; */
    /* color: #0d0e10; */
    /* font-size: 68px; */
}

/* .projectsContainer {
    max-width: 1200px;
    width: 1200px;
} */

.aboutContainer {
    height: 700px;
    padding: 100px 3%;
    margin: 0;
    width: 800px;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.historyContainer {
    /* height: 600px; */
    padding: 140px 3%;
}

.footerContainer {
    height: 70px;
    /* margin: 100px 3%; */
    /* padding: 100px 3%; */
}

.navBar {
    display: flex;
    justify-content: space-between;
    /* position: absolute; */
    /* flex-direction: row; */
    /* position: absolute; */
    height: 70px;
    padding: 28px 4%;
    /* width: 100vw;
    position: fixed; */
    /* top: 0; */
}

.navBarTile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 50px;
    width: 90px;

}

.tileList {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 1000px;
}

/* .tileImg {
    height: 450px;
    width: 350px;
} */

.osTileImg {
    height: 450px;
    width: 350px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.05);
}

.osTile {
    height: 450px;
    width: 350px;
    max-width: 100%;
    max-height: 100%;
    border-radius: 24px;
    border: 2px solid grey;
    margin: 5%;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.05);
}

/* .tile {
    height: 450px;
    width: 350px;
    border-radius: 24px;
    border: 2px solid grey;
    margin: 5%;
} */

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 16px;
}

h4 {
    font-size: 13px;
}

.row {
    display: flex;
    flex-direction: row;
}

.jdNav {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.5px;
    transition: all 300ms ease;
    text-decoration: none;
}

.jdH1 {
    font-size: 68px;
    /* color: #0d0e10; */
    padding: 0 0%;
    margin: 0;
    letter-spacing: -0.03em;
    font-weight: 500;
    line-height: 1.05;
}

.jdH2 {
    margin-top: 0px;
    margin-bottom: 16px;
    color: #0d0e10;
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
    letter-spacing: -0.025em;
}

.jdH3 {
    /* position: relative; */
    z-index: 5;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 32px;
    line-height: 1;
    font-weight: 500;
    letter-spacing: -0.03em;
}

.jdH4 {
    /* position: static;
    max-width: 540px;
    margin-bottom: 48px;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start; */
    margin: 0;
    color: #0d0e10;
    font-size: 20px;
    line-height: 1.4;
    font-weight: 400;
    /* text-align: left; */
}

.jdH5 {
    /* margin-bottom: 10px; */
    margin: 0;
    color: #3f4451;
    font-size: 16px;
    /* line-height: 1.6; */
    font-weight: 400;
    /* letter-spacing: 0.01em; */
    line-height: 1.9;
    letter-spacing: 0.02em;
}
.osH6 {
    /* margin-bottom: 10px; */
    color: #3f4451;
    font-size: 14px;
    /* line-height: 1.6; */
    font-weight: 400;
    /* letter-spacing: 0.01em; */
    line-height: 1.9;
    letter-spacing: 0.02em;
}