/* #root {
    font-family: "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
} */
body {
    /* height: 100%; */
    font-family: "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #4541FE; */
    /* background-color: rgb(118, 0, 240); */
    /* background-color: rgb(253, 207, 138); */
}

#app,
.n-config-provider {
    height: 100%;
    max-height: 100%;
    width: 100%;
    margin: 0;
    /* max-width: 1200px; */

}

.n-config-provider {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    /* max-width: 1200px; */
    margin: 0;
    padding: 0;
}

.webContainer {
    /* margin-top: 70px; */
    width: 100vw;
    max-width: 100vw;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navBar {
    position: fixed;
    top: 0;
    /* left: 0;
    right: 0; */
    background-color: #fff;
    height: 50px;
    width: 100%;
    /* width: 1000px; */
    max-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 0 5%; */
    margin: 0;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
    /* box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1); */
    z-index: 1;
}

.navBarContainer {
    width: 860px;
    max-width: 100vw;
    display: flex;
    align-items: space-between;
    justify-content: space-between;
}

.navBarTile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    /* height: 50px; */
    width: 200px;

}

.landingContainer {
    max-width: 100vw;
    /* height: 420px;
    padding: 0;
    max-width: 1000px;
    max-width: 100vw;
    margin: 0;
    margin-top: 100px; */
}

.jdLandingContainer {
    padding: 100px 3%;
    /* width: 1060px; */
    max-width: 100vw;
    width: 860px;
    height: 50vh;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.landingNameCont {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.landingAnimationCont {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    transform: rotate(5deg);
}

.landingIconAnimation {
    /* font-size: 32px;
    animation-duration: 0.1s;
    animation-name: changeFont;
    animation-iteration-count: infinite;
    animation-direction: alternate; */
}

@keyframes changeFont {
    from {
        font-size: 32px;
    }

    to {
        font-size: 35px;
    }
}

.landingTextContainer {}

/* .projectsContainer {
    max-width: 1200px;
    width: 1200px;
} */

.aboutContainer {
    height: 500px;
    /* padding: 100px 3% 100px 3%; */
    padding: 50px 3% 100px 3%;
    margin: 0;
    width: 860px;
    /* width: 1060px; */
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.historyContainer {
    width: 860px;
    padding: 50px 3% 100px 3%;
    margin: 0;
    /* padding: 75px 3% 140px 3%; */
}

.historyTimeline {}

.tileList {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: row; */
    flex-wrap: wrap;
    margin: 0 auto;
    /* width: 1000px; */
    width: 100%;
    max-width: 1200px;
    height: 100%;
}

/* .tileImg {
    height: 450px;
    width: 350px;
} */

.osTileImg {
    height: 300px;
    width: 300px;
    margin: 0;
    /* box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.05); */
}

.osTile {
    height: 375px;
    width: 300px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    border-radius: 24px;
    padding: 10px;
    margin: 2%;
    /* box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.05); */
    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.5);
}

.osTile:hover {
    /* background-image: linear-gradient(90deg, #3d87ff, #be3dff, #7e3dff, #3a86ff);
    box-shadow: 0 4px 15px 0 #be3dff;
    transition: all .5s ease-in-out;
    transform: all .5s ease-in-out; */
}

.tileText {
    display: flex;
    flex-direction: column;
    text-align: left;
}

/* .tile {
    height: 450px;
    width: 350px;
    border-radius: 24px;
    border: 2px solid grey;
    margin: 5%;
} */

.footer {
    height: 70px;
    width: 860px;
    /* width: 800px; */
    max-width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-content: space-between; */
    /* margin: 100px 3%; */
    /* padding: 100px 3%; */
}

.footerContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footerIcon {
    padding: 10px;
    /* font-size: 24px; */
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 16px;
}

h4 {
    font-size: 13px;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-start-x {
    /* display: flex;
    align-items: flex-start; */
    align-items: flex-start;
    justify-content: flex-start;
}

.jdNav {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.5px;
    transition: all 300ms ease;
    text-decoration: none;
}

.jdH1 {
    font-size: 68px;
    /* color: #0d0e10; */
    padding: 0 0%;
    margin: 0;
    letter-spacing: -0.03em;
    font-weight: 500;
    line-height: 1.05;
}

.n-gradient-text {
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: n-slide 5s linear infinite alternate;
}

a {
    color: black;
}

@keyframes n-slide {
    from {
        background-position: left;
    }

    to {
        background-position: right;
    }
}


.jdH2 {
    margin-top: 0px;
    margin-bottom: 16px;
    color: #0d0e10;
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
    letter-spacing: -0.025em;
}

.jdH3 {
    z-index: 5;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 32px;
    line-height: 1;
    font-weight: 500;
    letter-spacing: -0.03em;
}

.jdH4 {
    margin: 0;
    color: #0d0e10;
    font-size: 20px;
    line-height: 1.4;
    font-weight: 400;
}

.jdH5 {
    /* margin-bottom: 10px; */
    margin: 0;
    color: #3f4451;
    font-size: 16px;
    /* line-height: 1.6; */
    font-weight: 400;
    /* letter-spacing: 0.01em; */
    line-height: 1.9;
    letter-spacing: 0.02em;
}

.osH6 {
    /* margin-bottom: 10px; */
    color: #3f4451;
    font-size: 14px;
    /* line-height: 1.6; */
    font-weight: 400;
    /* letter-spacing: 0.01em; */
    line-height: 1.9;
    letter-spacing: 0.02em;
}

.jdH6 {
    color: #0d0e10;
    font-size: 48px;
    line-height: 55px;
    font-weight: 500;
    letter-spacing: -0.03em;
    margin: 50px 0 20px 0;
}

.reachLinkContainer {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #0d0e10;
    font-size: 48px;
    line-height: 55px;
    font-weight: 500;
    letter-spacing: -0.03em;
}

.reachContainer {
    padding: 100px 0%;
    width: 860px;
}

.reachLink {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 620px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 1500px) {

    .jdLandingContainer {}
}

@media (min-width: 1000px) and (max-width: 1500px) {
    .navBar {
        min-width: 100vw;
        padding: 0 5%;
    }

    .webContainer {
        width: 100%;
    }

    .jdLandingContainer {}
}

@media (max-width: 1000px) {
    .navBar {
        max-width: 100vw;
        padding: 0;
        margin: 0;
    }

    body {}

    .jdLandingContainer {
        max-width: 100vw;
        width: 100vw;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .landingNameCont {
        display: flex;
        flex-direction: column;
        max-width: 100vw;
        /* align-items: center; */
        animation: move 5s linear;
        left: 0;
        position: absolute
    }

    .landingAnimationCont {
        display: flex;
        justify-content: center;
        align-items: center;
        transform: none;
    }

    .historyContainer {
        /* width: 100vw; */
        max-width: 100vw;
        margin: 3% 0;
        /* padding: 3% 0; */
    }

    .reachContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100vw;
        height: 400px;
    }
}

@media (min-width: 500px) and (max-width: 800px) {
    .jdLandingContainer {
        /* margin: 70px 0 120px 0; */
    }

    .aboutContainer {
        padding: 0;
        width: 100%;
    }

    .historyContainer {
        margin: 0;
        padding: 0;
    }

    .osTile {
        margin: 7% 5%;
    }

    /* .footerContainer {
        max-width: 100vw;
        width: 100vw;
        padding: 100px 0;
    } */
}

@media (min-width: 300px) and (max-width: 500px) {
    .jdLandingContainer {
        margin: 70px 0 120px 0;
    }
}

/* .landingName {
    left: 0;
    animation: move 5s linear;
} */

.scrolled {
    opacity: 0;
    transform: translateY(100px);
    animation: scroll-in 1s forwards;
}

@keyframes scroll-in {
    0% {
        opacity: 0;
        transform: translateY(100px)
    }
    100% {
        opacity: 1;
        transform: translateY(0)
    }
}

@keyframes move {
    0% {
        left: 0;
    }

    100% {
        left: calc(100% - 100px);
    }
}